<div id="download" style="display: none;">
    <div class="d-flex justify-content-center">
        <h3 id="title-gempa" style="text-align: center;">Gempa Pulau Pulau Tanimbar, Indonesia</h3>
    </div>
    <div style="font-size: 14px;">
        <ul>
            <li>Magnitudo : <span id="mag-unduh">-</span></li>
            <li>Koordinat Pusat Gempa : <span id="lintang-unduh">-</span>, <span id="bujur-unduh">-</span></li>
            <li>Waktu : <span id="waktu-unduh">-</span> WIB</li>
            <li>Kedalaman : <span id="kedalaman-unduh">-</span> Km</li>
            <li>Estimasi Radius Terasa : <span id="rad-unduh">-</span> Km</li>
            <li>Jumlah Infrastruktur Berpotensi Terdampak : <span id="inf-unduh">-</span></li>
            <li>Kluster : <span id="kluster-unduh">-</span></li>
        </ul>
    </div>
</div>