{% extends "base.html" %}

{% block title %}
INFRAGempa - Infrastruktur Berpotensi Terdampak Kejadian Gempa
{% endblock %}

{% load static %}

{% block content %}
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>INFRAGempa</h1>
            <h2>
              INFRAGempa merupakan laman web penyedia informasi infrastruktur berpotensi terdampak kejadian gempa di seluruh wilayah Indonesia.
            </h2>
            <div class="row">
              <div class="col-xl-4 col-lg-5 col-md-6 col-12 d-flex justify-content-md-end justify-content-center">
                <a href="/infrastruktur-terdampak" class="btn-get-started scrollto">Get Started</a>
              </div>
              <div class="col-xl-8 col-lg-7 col-md-6 col-12 d-flex justify-content-md-start justify-content-center">
                <a href="https://www.youtube.com/watch?v=sMcfFmR0MmA" class="glightbox btn-watch-video">
                  <i class="bi bi-play-circle"></i><span> Lihat Demo</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Tentang Section ======= -->
    <section id="tentang" class="tentang">
      <div class="container">
        <div class="section-title">
          <h2>Tentang</h2>
          <div class="home-paragraph">
            <p>INFRAGempa merupakan Sistem Informasi Geografis (SIG) berbasis Web yang dirancang untuk memudahkan dalam pengolahan dan penyampaian informasi mengenai infrastruktur Kementerian PUPR yang berpotensi terdampak oleh kejadian gempa yang terjadi di seluruh wilayah Indonesia. WebGIS ini dirancang untuk mendukung kajian cepat pada tahap pasca bencana untuk mengetahui estimasi dampak dari kejadian gempa.</p>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <span class="iconify" data-icon="akar-icons:map" style="color: #5777ba; display:inline-block; float: left;" data-width="48" data-height="48"></span>
                  <h5 class="fw-bold">Peta Infrastruktur Berpotensi Terdampak Kejadian Gempa</h5>
                  <p>Penyajian informasi infrastruktur berpotensi terdampak kejadian gempa dalam bentuk peta.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <span class="iconify" data-icon="ri:earthquake-fill" style="color: #5777ba; display:inline-block; float: left;" data-width="48" data-height="48"></span>
                  <h5 class="fw-bold">Peta Kluster Kejadian Gempa di Indonesia</h5>
                  <p>Penyajian informasi kluster gempa yang terbentuk dari data gempa selama Tahun 2019-2020.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <span class="iconify" data-icon="carbon:assembly-cluster" style="color: #5777ba; display:inline-block; float: left;" data-width="48" data-height="48"></span>
                  <h5 class="fw-bold">Kluster Data Gempa dengan Algoritma KMeans</h5>
                  <p>Pengelompokan data gempa berdasarkan kekuatan gempa dan potensi dampak yang dihasilkan.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <span class="iconify" data-icon="wi:earthquake" style="color: #5777ba; display:inline-block; float: left;" data-width="48" data-height="48"></span>
                  <h5 class="fw-bold">Tabel Kejadian Gempa</h5>
                  <p>Penyajian informasi data gempa selama Tahun 2019-2020 di wilayah Negara Indonesia.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/features.png' %}" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- End App Features Section -->

    <!-- ======= Details Section ======= -->
    <section id="fitur" class="fitur">
      <div class="container">

        <div class="section-title">
          <h2>Fitur</h2>
          <div class="home-paragraph">
            <p>Sistem Informasi Geografis berbasis Web ini dirancang dalam rangka pemenuhan Tugas Akhir Mahasiswa Teknik Geomatika ITS. Terdapat batasan pada data kejadian gempa pada WebGIS yang meliputi batasan waktu dari tanggal 1 Januari 2020 hingga 31 Desember 2021.</p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Peta Infrastruktur Berpotensi Terdampak Kejadian Gempa</h3>
            <div class="home-paragraph">
              <p class="fst-italic">
                Menyajikan informasi infrastruktur yang berpotensi terdampak kejadian gempa dalam bentuk peta pada laman web.
              </p>
              <p>
                Voluptas nisi in quia excepturi nihil voluptas nam et ut. Expedita omnis eum consequatur non. Sed in asperiores aut repellendus. Error quisquam ab maiores. Quibusdam sit in officia
              </p>
            </div>
            <div class="d-flex flex-row-reverse">
              <a href="/infrastruktur-terdampak" class="btn-get-started scrollto">Selengkapnya</a>
            </div>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/details-2.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Peta Kluster Kejadian Gempa di Indonesia</h3>
            <div class="home-paragraph">
              <p>
                Pengelompokan data gempa berdasarkan kekuatan magnitudo dan jumlah bangunan infrastruktur yang berpotensi terdampak akibat kejadian gempa dengan menggunakan algoritman K-Means Clustering.
              </p>
              <p>
                Klustering data gempa dilakukan untuk mengelompokkan kejadian gempa berdasarkan dampak yang dihasilkan sehingga didapatkan daerah yang memiliki kerawanan terhadap bencana gempa.
              </p>
            </div>
            <div class="d-flex flex-row-reverse">
              <a href="/kluster-gempa" class="btn-get-started scrollto">Selengkapnya</a>
            </div>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'assets/img/details-3.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>Tabel Kejadian Gempa</h3>
            <div class="home-paragraph">
              <p>
                Penyajian informasi data gempa yang terjadi selama Tahun 2019-2020 di wilayah Negara Indonesia. Data kejadian gempa didapatkan dari dataset gempa USGS (United States Geological Survey) dengan batasan kekuatan gempa diatas magnitudo 4.5.
              </p>
            </div>
            <div class="d-flex flex-row-reverse">
              <a href="/datagempa" class="btn-get-started scrollto">Selengkapnya</a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Details Section -->

    <!-- ======= Contact Section ======= -->
    <section id="kontak" class="kontak">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Kontak Kami</h2>
          <p>INFRAGempa merupakan Sistem Informasi Geografis (SIG) berbasis Web yang dirancang dalam rangka pemenuhan Tugas Akhir Mahasiswa. Untuk pertanyaan, kritik, dan saran lebih lanjut mengenai halaman web ini dapat menghubungi kontak yang tertera dibawah ini.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="info shadow bg-body rounded">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Alamat:</h4>
                  <p>Teknik Geomatika ITS Kampus ITS, Keputih, Sukolilo, Surabaya 60111</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>asfidahm@gmail.com</p>
                  <p>asfi.18033@mhs.its.ac.id</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" >
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Telepon:</h4>
                  <p>+62 851 553321 75</p>
                  <p>+62 31 5929486</p>
                </div>
              </div><!-- End Info Item -->
            </div>
          </div>
          
          <div class="col-lg-8 mt-2 mt-lg-0 peta-index">
            <div id="mapindex" style="width: 100%; height: 100%;"></div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}