<header id="header" class="fixed-top  header-transparent shadow-lg">
    <div class="container d-flex align-items-center justify-content-between">
    
        <div class="logo">
            <h1><a href="/">INFRAGempa</a></h1>
        </div>
    
        <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto" href="/">Beranda</a></li>
            <li><a class="nav-link scrollto" href="/#tentang">Tentang</a></li>  
            <li><a class="nav-link scrollto" href="/#fitur">Fitur</a></li>
            <li><a class="nav-link scrollto" href="/#kontak">Kontak Kami</a></li>
            <li><a class="nav-link" href="/kluster-gempa">Kluster Gempa</a></li>
            <li><a class="nav-link" href="/datagempa">Data Gempa</a></li>
            <li><a class="nav-link" href="/kuesioner">Kuesioner</a></li>
            <li><a class="getstarted scrollto" href="/infrastruktur-terdampak">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    
    </div>
</header><!-- End Header -->
