html, body, #container {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
body {
    padding-top: 60px;
}

.home-paragraph {
    text-align: justify;
    text-indent: 40px;
}

.btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 16px 10px 0 0;
    color: #fff;
    background: #5777ba;
}

.btn-outline-primary {
    border-color: #5777ba;
    color: #5777ba;
    border-radius: 40px;
}

.btn-outline-primary:hover {
    background: #5777ba;
    border-color: #5777ba;
}